$color-primario: #7F4AA4;
$color-secundario: #AA8ED6;
$color-fuente-acentuada: #FBEE0F;
$color_mi_blanco:rgb(247, 246, 240);
$fuente-grande: 200%;
$fuente-media: 150%;
$family-font-general: "Roboto", sans-serif;
$family-font-acentuada: "Fascinate", system-ui;;