@keyframes anima-link {
  from {
    background-color: #AA8ED6;
  }
  to {
    background-color: #7F4AA4;
  }
}
body {
  background-color: #F7F7F7;
  color: white;
}
body header .logo-img {
  max-width: 10%;
  height: auto;
}
body header .navbar {
  background-color: #7F4AA4;
}
body header .navbar a {
  color: #FBEE0F;
  font-size: larger;
  font-weight: bold;
}
body header .navbar a:hover {
  color: rgb(247, 246, 240);
  animation-name: rubberBand;
  animation-duration: 1s;
}
body a {
  color: #FBEE0F;
}
body a:hover {
  color: rgb(247, 246, 240);
}
body #banner {
  width: 100%;
  height: auto;
}
body main {
  background-color: #7F4AA4;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(247, 246, 240);
}
body main h1 {
  color: #FBEE0F;
  font-family: "Fascinate", system-ui;
  text-align: left;
  padding-top: 2%;
}
body main h2, body main h3 {
  color: #FBEE0F;
  font-family: "Fascinate", system-ui;
  text-align: left;
  padding-top: 2%;
  font-size: 200%;
}
body main h4 {
  color: #FBEE0F;
  font-family: "Fascinate", system-ui;
  text-align: left;
  font-size: 150%;
}
body main h5 {
  color: #FBEE0F;
  font-family: "Fascinate", system-ui;
  text-align: left;
  padding-top: 2%;
  font-size: 150%;
}
body main p {
  text-align: left;
}
body main p a {
  animation-name: anima-link;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
body main .imgTexto {
  display: flex;
  align-items: center;
}
body main .imgTexto img {
  max-width: 350px;
  height: auto;
}
body main .section-container {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
}
body main .grid-container {
  display: grid;
  grid-template-columns: 2fr;
  border: 1px solid rgb(247, 246, 240);
  background-color: #AA8ED6;
  width: 40%;
  text-align: left;
  color: rgb(247, 246, 240);
  grid-column: 2/3;
}
body main .grid-item {
  background-color: rgb(247, 246, 240);
  border: 1px solid rgb(247, 246, 240);
  text-align: left;
}
body main .boton {
  background-color: #FBEE0F;
  text-align: center;
}
@media screen and (max-width: 800px) {
  body main .imgTexto {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  body main .imgTexto img {
    max-width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  body main .section-container {
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
  }
}
@media screen and (max-width: 800px) {
  body main .grid-container {
    display: grid;
    grid-template-columns: 2fr;
    border: 1px solid rgb(247, 246, 240);
    background-color: #AA8ED6;
    width: 100%;
    text-align: center;
    color: rgb(247, 246, 240);
  }
}
body footer {
  background-color: #7F4AA4;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  float: center;
}
body footer img {
  max-width: 10%;
  height: auto;
}
body footer p {
  color: rgb(247, 246, 240);
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=estilos.css.map */
