/*H e a d e r*/
.navbar{
   background-color: #7F4AA4;
}

.navbar a{   
    color: #FBEE0F;
    font-family: "Roboto", sans-serif;
    font-size: larger;
    font-weight: bold;
}

.logo-img{
    max-width: 10%;
    height: auto;
}


header nav ul li a{
 /*   padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;*/
    color: white;
    background-color: #AA8ED6;
    font-weight: bold;
    font-size: larger;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
 
}
/*F i n   H e a d e r*/

body{
    background-color: #F7F7F7;
    color: white;


}

/*M a i n*/


main{
    background-color: #7F4AA4;  
    padding-left: 1%;
    padding-right: 1%;
}

main h1{
    color: #FBEE0F;
    font-family: "Fascinate", system-ui;
    text-align: left;
    padding-top: 2%;
}

main h2{
    color: #FBEE0F;
    font-family: "Fascinate", system-ui;
    text-align: left;
    padding-top: 2%;
    font-size: 200%;
}
main h3{
    color: #FBEE0F;
    font-family: "Fascinate", system-ui;
    text-align: left;
    padding-top: 2%;
    font-size: 200%;
}
main h5{
    color: #FBEE0F;
    font-family: "Fascinate", system-ui;
    text-align: left;
    padding-top: 2%;
    font-size: 150%;
}
main h4{
    color: #FBEE0F;
    font-family: "Fascinate", system-ui;
    text-align: left;
    font-size: 150%;
}
#banner{
    width: 100%;
    height: auto;
  /*  padding-bottom: 1%; */
}
main p{
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;

}

main a{
    color: white;
}

.imgTexto{
    display: flex;
    align-items: center;
}

.imgTexto img{
    max-width: 50%;
    height: auto;
}
.section-container{
    display: grid;
    grid-template-columns: 1fr, 2fr, 1fr;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr;
    border: 1px solid #F7F7F7;;
    background-color: #AA8ED6;
    width: 40%;
    text-align: left;
    color: #F7F7F7;
    grid-column: 2/3;

}
.grid-item{
    background-color: #F7F3FB;
    border: 1px solid #F7F7F7;
    text-align: left;
}

.boton{

    background-color: #FBEE0F;
    text-align: center;
}

/*
.imgTexto p{
    text-align: left;
    float: right;
}*/
/*

/*F i n   M a i n*/

/*F o o t e r*/
footer{
 /*   width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    float: center;*/
    background-color: #7F4AA4;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

footer img{
    max-width: 10%;
    height: auto;
 /*   display: inline;*/
}

footer p{
    color: white;
    font-family: "Roboto", sans-serif;

}
/*F i n   F o o t e r*/